@{
    ViewBag.Title = "AuthorizationFailure";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>You are not Authorised to access this application.</h2>

<p>An error occurred whilst authenticating your login details or you are trying to access a restricted area without permission.</p>

<p>If you should have access please try again or contact your system administrator.</p>